#my-header{
  background-color: #f0f3f8;
}

#my-head-nav-right .nav{
  margin-right: 10px;
}

#my-head-nav-right .nav>li{
  margin-left: 31px;
}

#my-head-nav-right .pull-left>a{
  padding: 0 5px;
}

.icon{
  display: inline-block;
  vertical-align: top;
}

.icon.ico-search{
  @include sprite($search);
}

.icon.ico-profile{
  @include sprite($profile);
}

.icon.ico-arrow-dropdown{
  @include sprite($arrow-dropdown);
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
}

.icon.ico-cart{
  @include sprite($cart);
}

.my-quantity-of-goods{
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(0, -50%);
}