#my-header{
  background-color: #f0f3f8;
}

#my-header .container-fluid{
  padding: 0;
}

#my-head-nav-right .pull-left>a{
  padding: 0;
}

#my-head-nav-right>ul>li{
  margin-right: 22px;
}

#my-head-nav-right>ul>li:last-child{
  margin-right: 0;
}

#my-head-nav-right>ul>li:first-child{
  margin-right: 35px;
}

.icon{
  display: inline-block;
  vertical-align: middle;
}

.icon.icon-arrow_down_sm{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-size: 20px;
}

.navbar-default .navbar-nav>.open>a .icon-arrow_down_sm:before, .navbar-default .navbar-nav>.open>a:focus .icon-arrow_down_sm:before, .navbar-default .navbar-nav>.open>a:hover .icon-arrow_down_sm:before {
    color: #fff;
}

.icon.ico-search{
  @include sprite($search);
}

.icon.ico-profile{
  @include sprite($profile);
  position: relative;
  margin-right: 20px;
}

.icon.ico-cart{
  @include sprite($cart);
  position: relative;
  margin-right: 15px;
}

#my-head-nav-right .icon-arrow_down_sm{
  right: -20px;
}

.my-quantity-of-goods{
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(0, -50%);
}